<h1>Add a Artwork</h1>

<form action="/curator/artworks/add" method="post">
  <label for="artwork_name">Name of Artwork</label>
  <input type="text" name="artwork_name" required>
  <input type="hidden" name="museum_id">
  <button type="submit">Add this Artwork</button>
</form>

<a class="btn btn-default" href="/">Home</a>
<a class="btn btn-default" href="/curator/artworks">Back</a>
