<h1>Add a Museum</h1>

<form action="/curator/museums/new" method="post">
  <label for="museum_name">Name of Museum</label>
  <input type="text" name="museum_name" required>
  <button type="submit">Add this Museum</button>
</form>
