<h1>Welcome Curator</h1>

<h2>Do you want to:</h2>

<a class="btn btn-default" href="/curator/museums/new">Add a Museum</a>
<a class="btn btn-default" href="/curator/museums/edit">Edit a Museum</a>

<br>
<br>

<a class="btn btn-default" href="/">Home</a>
